body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    font-family: 'Poiret One', sans-serif;
    font-weight: 700;
    line-height: 1;
    overflow-y: auto;
}

.header {
    text-align: right;
    background-color: #e5e7eb;
    padding: 10px;
}

.header__text {
    font-family: 'Imperial Script', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #333;
}

.resume {
    width: calc(95% - 80px);
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.resume__header {
    text-align: start;
}

.resume__specialist {
    text-align: center;
}

.resume__specialist-title {
    font-family: 'Nato Sans', sans-serif;
    font-size: 50px;
    margin: 0 0 30px 0;

    @media (max-width: 500px) {
        font-size: 40px;
    }
} 

.resume__header-content {
    display: flex;
    gap: 20px;
}

.resume__photo {
    border-radius: 16px;
    max-width: 220px;
    width: 100%;
    object-fit: cover;

    @media (max-width: 500px) {
        display: none;
    }
}

.resume__name {
    word-break: keep-all;
    font-size: 32px;
    line-height: 0.8;
}

.resume__info-contacts {
    line-height: 0.6;
    margin: 0 0 30px 0;
}

.resume__section {
    margin-bottom: 20px;
    /* border-bottom: #e5e7eb solid 1px; */
}

.resume__section:last-child {
    border: 0;
}


.resume__section-title,
.education__list,
.education__degree,
.education__institution,

.skills__item {
    margin-bottom: 5px;
}

.skills__list,
.experience__list,

.experience__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: #e5e7eb solid 1px;
}

.experience__item:last-child {
    border: 0;
}

.experience__title,
.experience__duration,
.experience__works-list,
.experience__description,

.experience__works-item {
    margin-bottom: 5px;
}

.soft-skills__title,

.soft-skills__description {
    padding: 0 30px;
}

.footer {
    text-align: right;
    background-color: #e5e7eb;
    margin-top: 40px;
    padding: 10px;
}

.footer__text {
    font-size: 16px;
    color: #333;
}